<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.LSMProyect"
        tools:targetApi="31">
        <activity
            android:name=".PROTOTYPE.PartFourLessonTwoActivity"
            android:exported="false" />
        <activity
            android:name=".PROTOTYPE.PartThreeLessonTwoActivity"
            android:exported="false" />
        <activity
            android:name=".PROTOTYPE.PartTwoLessonTwoActivity"
            android:exported="false" />
        <activity
            android:name=".PROTOTYPE.PartOneLessonTwoActivity"
            android:exported="false" />
        <activity
            android:name=".PROTOTYPE.PartFourLessonOneActivity"
            android:exported="false" />
        <activity
            android:name=".PROTOTYPE.PartThreeLessonOneActivity"
            android:exported="false" />
        <activity
            android:name=".PROTOTYPE.PartTwoLessonOneActivity"
            android:exported="false" />
        <activity
            android:name=".PROTOTYPE.PartOneLessonOneActivity"
            android:exported="false" />
        <activity
            android:name=".PROTOTYPE.IntroLessonTwoActivity"
            android:exported="false" />
        <activity
            android:name=".PROTOTYPE.IntroLessonOneActivity"
            android:exported="false" />
        <activity
            android:name=".UnitOneActivity"
            android:exported="false" />
        <activity
            android:name=".FaqActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateEmailActivity"
            android:exported="false"
            android:theme="@style/Theme.LSMProyect" />
        <activity
            android:name=".UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UploadProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>